.Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Main__list {
  display: flex;
  flex-direction: row;
}

.Main__header {
  width: 100%;
  height: 80%;
}

.Main__header__frame {
  width: 100%;
  height: 100%;
  position: relative;
}
